<table class="pricing">
  <thead>
    <tr>
      <th>
        <h3>Features</h3>
      </th>
      <th>
        <h3>Standard</h3>
      </th>
      <th>
        <h3>Premium</h3>
      </th>
      <th>
        <h3>Pro</h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Feature 1</th>
      <td>&#10003;</td>
      <td>&#10003;</td>
      <td>&#10003;</td>
    </tr>
    <tr>
      <th>Feature 2</th>
      <td>&#10003;</td>
      <td>&#10003;</td>
      <td>&#10003;</td>
    </tr>
    <tr>
      <th>Feature 3</th>
      <td>
      </td>
      <td>&#10003;</td>
      <td>&#10003;</td>
    </tr>
    <tr>
      <th>Feature 4</th>
      <td>
      </td>
      <td>&nbsp;</td>
      <td>&#10003;</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Price</th>
      <th>
        <div>$10</div>
      </th>
      <th>
        <div>$20</div>
      </th>
      <th>
        <div>
          <span class="exp">
            Coming!
          </span>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
