<div id="footer">
  <div class="container">
    <div class="row">
      <div class="one-third column">
      </div>
      <div class="one-third column">
      </div>
      <div class="one-third column">
      </div>
    </div>
  </div>
</div>
